Checks: '*,
        -cert-dcl21-cpp,
        -fuchsia-overloaded-operator,
        -fuchsia-trailing-return,
        -google-explicit-constructor,
        -hicpp-explicit-conversions,
        -modernize-use-trailing-return-type'

CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
