name: CI

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - os: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: update
      run: sudo apt-get update
    - name: install
      run: sudo apt-get install -y $CC $CXX
    - name: build
      run: gcc-10 test/*.cpp -Iinclude -Wall -Wextra -pedantic -std=c++2a
    - name: run
      run: ./a.out
