name: "Deploy Code Coverage: Coveralls"

on:
  push:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: update
      run: sudo apt update
    - name: install
      run: sudo apt install gcc-10 g++-10 lcov
    - name: build
      run: gcc-10 test/*.cpp src/*.cpp -Iinclude -O0 -g -std=c++2a --coverage -lstdc++
    - name: coverage base
      run: |
        lcov --rc lcov_branch_coverage=1 --capture --initial --directory . --output-file base.info
        lcov --rc lcov_branch_coverage=1 --remove base.info '/usr/*' --output-file base.info
        lcov --rc lcov_branch_coverage=1 --remove base.info '10' --output-file base.info
        lcov --rc lcov_branch_coverage=1 --remove base.info '*/test/*' --output-file base.info
    - name: run
      run: ./a.out
    - name: coverage test
      run: |
        lcov --rc lcov_branch_coverage=1 --capture --directory . --output-file test.info
        lcov --rc lcov_branch_coverage=1 --remove test.info '/usr/*' --output-file test.info
        lcov --rc lcov_branch_coverage=1 --remove test.info '10' --output-file test.info
        lcov --rc lcov_branch_coverage=1 --remove test.info '*/test/*' --output-file test.info
    - name: coverage results
      run: lcov --rc lcov_branch_coverage=1 --rc lcov_branch_coverage=1 --add-tracefile base.info --add-tracefile test.info --output-file coverage.info
    - name: coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: coverage.info
