name: Documentation Verification

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: mattnotmitt/doxygen-action@v1
      with:
        working-directory: '.'
        doxyfile-path: 'doc/Doxyfile'
