name: "Test Static Analysis: ClangTidy"

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: update
      run: sudo apt update
    - name: workaround
      # https://github.com/actions/virtual-environments/issues/1536
      run: sudo apt-get remove libllvm10
    - name: install
      run: sudo apt install clang-tidy-10 g++-10
    - name: tidy
      run: clang-tidy-10 \
      include/fcarouge/tree_algorithm.hpp \
      include/fcarouge/tree_fwd.hpp \
      include/fcarouge/tree_iterator_fwd.hpp \
      include/fcarouge/tree_iterator.hpp \
      include/fcarouge/tree.hpp \
      --warnings-as-errors=* -- -std=c++2a
